.modalBody {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

@keyframes entry {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

.body {
  position: absolute;
  width: 400px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid red;
  border-radius: 16px;
  animation: entry 0.2s cubic-bezier(0.46, 0.21, 0.54, 1.18);
  /* padding: ; */
}
.roomName {
  width: 80%;
  height: 48px;
  /* border: none; */
  margin-top: -50px;
  display: flex;
  padding: 10px;
  align-items: center;
  border-radius: 4px;
}

.descName {
  width: 80%;
  border: none;
  flex-grow: 0.5;
  resize: none;
  display: flex;
  align-items: center;
  border-radius: 4px;
  padding: 10px;
}

.text {
  width: calc(100% - 2px);
  height: calc(100% - 2px);
  color: rgb(230, 230, 230);
  border-radius: 4px;
  box-shadow: 0 0 0 1px white;
  background-color: #2939565c;
  border: none;
  transition: 0.15s;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  justify-content: space-between;
  background-repeat: no-repeat;
  background-position: left;
  background-position-x: 10px;
  padding: 10px;
  font-size: 1rem;
  letter-spacing: 0.00625em;
  user-select: none;
  outline: none !important;
}

textarea {
  resize: none;
}

.createModalBtns {
  width: 80%;
  display: flex;
  justify-content: flex-end;
  column-gap: 12px;
  transform: translateY(20px);
}
.cancelBtn {
  width: 80px;
  height: 48px;
  color: #f54500;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
}
.cancelBtn:hover {
  transition: 0.15s;
  cursor: pointer;
  background-color: #f5450015;
}

.createBtn {
  width: 120px;
  height: 48px;
  background: linear-gradient(-45deg, #f35f25, #ff4800);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  border-radius: 4px;
  box-shadow: none;
  border: none;
  transition: 0.15s;
  font-size: 1rem;
  user-select: none;
}
.createBtn:hover {
  box-shadow: 0px 0px 14px 0px #f54500e8;
  transition: 0.15s;
  cursor: pointer;
}
.createBtn:active {
  background-color: #f15f25;
  transition: 0.15s;
}
